*{
  margin: 0;
  padding: 0;
 
}

.calculater{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}
.inline-cal{
  display: flex;

  justify-content: center;
  text-align: center;
  height: 100vh;
}
.center-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
  /* background-color: black */
}
.col{
  padding: 10px;
  
}
.btn{
  width: 100%;
  padding: 16px;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
input{
  width: 100%;
  padding: 10px;
}
input[type="text"]
{
    font-size:30px;
}
/* input[type="text" ] {
  height: 20px;
  width: 250px;
} */

@media(max-width: 1165px){
  .center-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* background-color: black */
  }
}

@media(max-width: 450px){
 .btn{
   padding: 0;
   padding-top: 10px;
   padding-bottom: 10px;
 }
}